<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Vue Testing</title>
  <meta name="description" content="Vue.js のテスト" />
  <link rel="icon" href="assets/favicon.ico" type="image/vnd.microsoft.icon">
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
    integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
  <link href="assets/vue.css" rel="stylesheet" type="text/css">

</head>

<body>

  <header>
    <a href="#">
      <h1>Vue Testing</h1>
    </a>
    <a href="https://github.com/moyomogi/vue-testing/actions/workflows/cd.yml">
      <img src="https://github.com/moyomogi/vue-testing/actions/workflows/cd.yml/badge.svg">
    </a>
    <a href="https://github.com/moyomogi/vue-testing">
      <img src="https://img.shields.io/github/last-commit/moyomogi/vue-testing">
    </a>
    <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja">
      <img src="https://img.shields.io/badge/license-CC0-blue">
    </a>
  </header>
  <br>

  <div id="right">

    <!-- CONTENTS -->
    <h2>CONTENTS</h2>
    <div class="right-link pure-menu custom-restricted-width">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
          <a href="#advertisement" class="pure-menu-link">advertisement</a>
        </li>
        <li class="pure-menu-item">
          <a href="#counter" class="pure-menu-link">counter</a>
        </li>
        <li class="pure-menu-item">
          <a href="#prime-factorize" class="pure-menu-link">prime-factorize</a>
        </li>
        <li class="pure-menu-item">
          <a href="#calc-gcd-and-lcm" class="pure-menu-link">calc-gcd-and-lcm</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="content">

    <!-- advertisement -->
    <div id="advertisement">
      <h2>advertisement</h2>
      <label class="pure-checkbox">
        <input type="checkbox" id="ad-checkbox" v-model="visible" />
      </label>
      <label for="ad-checkbox"> visible</label>
      <div v-show="visible">
        <input type="radio" id="ad-option-one" value="op-one" v-model="adOption" />
        <label for="ad-option-one" class="pure-radio">【ブルアカ】2nd PV</label><br>
        <input type="radio" id="ad-option-two" value="op-two" v-model="adOption" />
        <label for="ad-option-two" class="pure-radio">【ブルアカ】「夏空のウィッシュリスト」イベントPV</label><br>
        <input type="radio" id="ad-option-three" value="op-three" v-model="adOption" />
        <label for="ad-option-three" class="pure-radio">【ブルアカ】アロナちゃんねる #18</label><br>
        <br>
        <div v-show="adOption=='op-one'">
          <iframe width="480" height="270" src="https://www.youtube.com/embed/cE1ePjq5ZSs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div v-show="adOption=='op-two'">
          <iframe width="480" height="270" src="https://www.youtube.com/embed/TcHq_NQsmIA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div v-show="adOption=='op-three'">
          <iframe width="480" height="270" src="https://www.youtube.com/embed/7k1sRGMxKkI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <br>
        <a
          href="https://apps.apple.com/jp/app/%E3%83%96%E3%83%AB%E3%83%BC%E3%82%A2%E3%83%BC%E3%82%AB%E3%82%A4%E3%83%96/id1515877221">
          <img src="assets/ios-play.png" />
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.YostarJP.BlueArchive">
          <img src="assets/google-play.png" />
        </a>
      </div>
    </div>
    <br>

    <!-- counter -->
    <div id="counter">
      <h2>counter</h2>
      <div class="demo">{{ cnt }}s</div>
      <button class="pure-button pure-button-primary" @click="toggleCounter">
        {{ active ? 'Stop' : 'Start' }}
      </button>
    </div>
    <br><br>

    <!-- prime-factorize -->
    <div id="prime-factorize">
      <h2>prime-factorize</h2>
      <form class="pure-form">
        <fieldset>
          <input v-model.number="x" />
        </fieldset>
      </form>
      <p v-if="isLarge">Error: Too large number!</p>
      <div class="demo">
        num: {{ mFactors.length }}
        <ul>
          <for-factors v-for="factor in factors" :m-factor="factor" :key="factor"></for-factors>
        </ul>
      </div>
    </div>

    <!-- calc-gcd-and-lcm -->
    <div id="calc-gcd-and-lcm">
      <h2>calc-gcd-and-lcm</h2>
      <form class="pure-form pure-form-stacked">
        <fieldset>
          <label>a:</label>
          <input v-model.number="a" />
          <label>b:</label>
          <input v-model.number="b" />
        </fieldset>
      </form>
      <p v-if="isLarge">Error: Too large number!</p>
      <table class="pure-table">
        <thead>
          <tr>
            <th>gcd(a, b)</th>
            <th>lcm(a, b)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ gcd }}</td>
            <td>{{ lcm }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>

  </div>

  <script language="javascript" type="text/javascript">

    // advertisement
    Vue.createApp({
      data() {
        return {
          visible: false, adOption: 'op-one'
        }
      },
    }).mount('#advertisement')

    // counter
    Vue.createApp({
      data() {
        return {
          cnt: 0, active: true
        }
      },
      mounted() {
        setInterval(() => { this.cnt += this.active }, 1000)
      },
      methods: {
        toggleCounter() {
          this.active = !this.active
        }
      }
    }).mount('#counter')

    // prime-factorize
    const primeFactorizeApp = Vue.createApp({
      data() {
        return {
          x: 7007, isLarge: false, mFactors: []
        }
      },
      computed: {
        factors() {
          this.mFactors.splice(0)
          this.isLarge = this.x > 100000000000000
          if (!this.x || this.isLarge) return []
          let mX = this.x
          if (this.x < 0) {
            this.mFactors.push(-1)
            mX *= -1
          } else if (mX == 1) {
            this.mFactors.push(1)
          }
          for (let i = 2; i * i < mX; i++) {
            if (mX % i == 0) {
              do {
                mX /= i
                this.mFactors.push(i)
              } while (mX % i == 0)
            }
          }
          if (mX != 1) {
            this.mFactors.push(mX)
          }
          return this.mFactors
        }
      }
    })
    primeFactorizeApp.component('for-factors', {
      props: ['mFactor'],
      template: `<li>{{ mFactor }}</li>`
    })
    primeFactorizeApp.mount('#prime-factorize')

    // calc-gcd-and-lcm
    const myGcd = (a, b) => b ? myGcd(b, a % b) : a
    Vue.createApp({
      data() {
        return {
          a: 6, b: 337, isLarge: false
        }
      },
      computed: {
        gcd() {
          this.isLarge = this.a > 100000000000000 || this.b > 100000000000000
          if (this.isLarge) return 0
          return myGcd(this.a, this.b)
        },
        lcm() {
          this.isLarge = this.a > 100000000000000 || this.b > 100000000000000
          if (this.isLarge) return 0
          const g = myGcd(this.a, this.b)
          return g == 0 ? 0 : this.a / g * this.b
        }
      }
    }).mount('#calc-gcd-and-lcm')

  </script>

</body>

</html>
