header, .content, footer {
  display: block;
}
html {
  background-image: url("bg.svg");
  font-family: 'Noto Serif Japanese', sans-serif;
}
body {
  background-color: #ddfff4;
  width: 720px;
  margin: 0 auto;
  padding: 0 28px 28px 28px;
}

#right {
  float: right;
  width: 165px;
  padding: 7px 24px;
}

a {
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00caaf;
}

td {
  background-color: #ff0000;
}

.demo {
  font-family: sans-serif;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}
